.game{}
.welcome{}
#logo {
    top: 0;
    left: 0;
    text-align: left;
    position: fixed;
    width: 15%;
    height: 9px;
}
.menu {
    font-size: 40px;
    font-color:black;
    height: 100px;
    background: #dfa036;
    text-align: center;
}

er-handle { border-color: #729fcf; }
#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}
#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }